/* --------------------------HEADER-------------------------- */

.header-site {
  border-bottom: 1px solid #ececec;
  /* box-shadow: 0px 0px 2px 0px #ececec; */
  /* padding-top: 25px;
  padding-bottom: 25px; */
}

.navigation {
  @include align-list;

  /* padding-top: 25px;
  padding-bottom: 25px; */
}

.navigation-list {
  display: flex;

  margin-left: 93px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.navigation-list__item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  position: relative;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--navigation-link-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--focus-link-color);
  }
}

.header-contacts__list {
  display: flex;
  margin-left: auto;
  row-gap: 10px;
  column-gap: 30px;
  flex-direction: column;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

// .header-contacts__item + .header-contacts__item {
//   margin-left: 50px;

//   @media screen and (max-width: 1199px) {
//     margin-left: 0px;
//   }
// }

.header-tel__link,
.header-mail__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--header-contact-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--focus-link-color);
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.header-mail__icon,
.header-tel__icon {
  fill: currentColor;
  margin-right: 8px;

  @media screen and (max-width: 479px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}
