/* ----------LOGO---------- */
.logo {
  text-decoration: none;
  color: var(--logo-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  &--dark {
    color: #000000;
  }
  &--light {
    color: #ffffff;
  }
}
