.header-menu-btn {
  margin-left: auto;
  background: transparent;
  padding: 10px 0px 10px 0;
  border: transparent;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: #188ce8;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header-menu-close-btn {
  position: absolute;

  top: 10px;
  right: 0px;

  background: transparent;

  border: transparent;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus &:active {
    background: transparent;

    border: transparent;
    fill: #188ce8;
  }
}

.mob-menu {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: #ffffff;
  padding-top: 48px;
  padding-bottom: 48px;

  .container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    height: 100%;

    padding-left: 40px;
  }
}

.mob-menu-top {
  flex-grow: 1;
}

.mob-menu-list {
  margin-bottom: 50px;
}

.mob-menu-item {
  :hover,
  :focus {
    color: #2196f3;
  }

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-menu-contacts-list {
  margin-bottom: 64px;
}

.mob-menu-contacts-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-menu-link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-menu-tel-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;

  letter-spacing: 0.02em;

  color: #2196f3;
}

.mob-menu-mail-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  color: #757575;
}

.mob-menu-soc-list {
  display: flex;
  flex-wrap: wrap;
}

.mob-menu-soc-item {
  // &:not(:last-child) {
  //   &::after {
  //     margin-left: auto;
  //     content: "";
  //     width: 100%;
  //     border: 1px solid rgba(33, 33, 33, 0.2);
  //   }
  // }

  &:not(:first-child) {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.mob-menu-soc-link {
  width: 100%;
  margin-right: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.22;

  letter-spacing: 0.02em;

  color: #2196f3;

  @media screen and (min-width: 382px) {
    font-size: 16px;
  }

  @media screen and (min-width: 415px) {
    font-size: 18px;
  }
}

.no-scroll {
  overflow: hidden;
}
