:root {
  --dominant-text-color: #212121;
  --logo-color: #2196f3;
  --navigation-link-color: #212121;
  --focus-link-color: #2196f3;
  --focus-contact-color: #2196f3;
  --header-contact-color: #757575;
  --hero-text-color: #ffffff;
  --hero-button-background-color: #2196f3;
  --hero-button-text-color: #ffffff;
  --feature-subtitle-color: #757575;
  --function__caption-text-color: #ffffff;
  --team-subtitle-color: #757575;
  --team-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --footer-contact-color: rgba(255, 255, 255, 0.6);
  --footer-address-color: #ffffff;
  --batton-filter-focus-background-color: #2196f3;
  --batton-filter-focus-text-color: #ffffff;
  --batton-filter-background-color: #f5f4fa;
  --batton-filter-text-color: #212121;
  --projects-subtitle-color: #757575;
  --icon-main-color: #afb1b8;
  --icon-main-focus-color: #ffffff;
  --icon-main-focus-background-color: #2196f3;
  --margin-foto: 30px;
  --margin-title: 50px;
  --margin-subtitle: 10px;
  --section-padding: 94px;
}
